<h1>List of Articles!</h1>
<h3><%= link_to "Create new article", new_article_path, class: "btn btn-success" %></h3>
<table style="width: 80%;">
  <tr>
    <legend>
      <th>Title</th>
      <th>Description</th>
    </legend>
  </tr>
  <% @articles.each do |article| %> 
      <tr id="actions">
        <td><%= article.title %></td>    
        <td><%= article.description %></td>
        <td><%= link_to 'Edit', edit_article_path(article), class: "btn btn-xs btn-info", :style => "margin: 15px;" %></td>
        <td><%= link_to 'Show', article_path(article), class: "btn btn-xs btn-warning", :style => "margin-right: 15px;" %></td>
        <td><%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-xs btn-danger" %></td>        
      </tr>
  <% end %>
</table>
